
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GoF.Lib.MvcWebUI.Models.RegisterViewModel
<div class="row">
    <div class="col-9">
        <form>
            
        </form>
        <uui-form model="@Model">

        </uui-form>
    </div>
    <div class="col-3">
    </div>
</div>