@model GoF.Lib.MvcWebUI.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var returnUrl = Context.Request.Query["returnUrl"];
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-160 p-t-50">
            <form class="login100-form validate-form" method="post" asp-action="Login" asp-controller="Security" asp-route-returnUrl="@returnUrl">
                <span class="login100-form-title p-b-43">
                    Account Login
                </span>

                <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
                    <input class="input100" type="text" asp-for="@Model.Email">
                    <span class="label-input100">Username</span>
                </div>


                <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                    <input class="input100" type="text" @Model.Password>
                    <span class="label-input100">Password</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Sign in
                    </button>
                </div>

                <div class="text-center w-full p-t-23">
                    <a href="#" class="txt1">
                        Forgot password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

