@model GoF.Lib.MvcWebUI.Models.NewCategoryViewModel
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <form asp-action="AddCategory" asp-controller="Admin" method="post">
        <div class="col-12 mb-30">
            <div class="box">
                <div class="box-head">
                    <h3 class="title">Yeni Kategori Ekle</h3>
                </div>
                <div class="box-body">
                    <div class="row mbn-20">
                        <div class="row mbn-15">

                            <div class="col-8 mb-15">

                                <label asp-for="@Model.CategoryName"></label>
                                <input type="text" class="form-control" asp-for="@Model.CategoryName">
                            </div>
                           
                            <div class="col-4 mb-15">
                                <label>&nbsp</label>
                                <button class="btn btn-success" type="submit">
                                    Kaydet
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                              
            </div>
        </div>
    </form>